// Import global color schemes
@import '../../../styles.scss';

// Project images
.project-image img { 
  object-fit: contain; 
  background-color: whitesmoke;
}

.no-project-image {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 75%;
}
.no-project-image__title {
  position: absolute;
  top: calc(50% - 1.6rem);
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}

/* Background colors randomly used when no project image is set */
.grad-from-pink-to-orange {
  background: #fd4289; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fd4289, #ff9c00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fd4289, #ff9c00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fd4289, #ff9c00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fd4289, #ff9c00); /* Standard syntax */
}

.grad-from-purple-to-pink {
  background: #ae5abc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ae5abc, #f72199); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ae5abc, #f72199); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ae5abc, #f72199); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ae5abc, #f72199); /* Standard syntax */
}

.grad-from-blue-to-dark-blue {
  background: #00d3dc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #00d3dc, #1d5e8f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #00d3dc, #1d5e8f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #00d3dc, #1d5e8f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #00d3dc, #1d5e8f); /* Standard syntax */
}

.grad-from-light-blue-to-blue {
  background: #00d3dc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #00d3dc, #00a3ef); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #00d3dc, #00a3ef); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #00d3dc, #00a3ef); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #00d3dc, #00a3ef); /* Standard syntax */
}

.grad-from-green-to-dark-green {
  background: #fdf431; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fdf431, #88b211); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fdf431, #88b211); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fdf431, #88b211); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fdf431, #88b211); /* Standard syntax */
}

.purple {
  background-color: #a8afff
}

.red {
  background-color: #ff0061;
}
/* End: Background colors randomly used when no project image is set */

.card { 
  transition: all .5s ease-in-out;
  border-radius: .2rem;
  box-shadow: 2px 5px 3px rgba(0,163,239,.1), 0 0 0 1px rgba(10,10,10,.1);
  position: relative;
  opacity: 1;
  backface-visibility: hidden;
}

// .card:hover {
//   opacity: 0.3;
// }

// .card:hover .project-overlay {
//   opacity: 1;
// }

// Used to position tags
.card-image { position: relative; }

.title { color: $text-default-color; }

/**
 * Project overlay Styles
**/
// Main block
.project-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
  color: #fff;
}

// Display overlay on mouse over
.card:hover .project-overlay { display: block; }

// Action items
.project-overlay .action {
  color: #fff;
}

.project-overlay .fa-pencil,
.project-overlay .fa-trash-o { 
  font-size: 1rem; 
  color: #666666;
}

.project-overlay .fa-pencil:hover,
.project-overlay .fa-trash-o:hover {
  color: #fff;
}

.project-overlay .action:hover {
  color: $primary-default-color;
}

// Text
.project-overlay .content { 
  text-align: center;
  margin-top: 30%;
  border: none;
}

// Footer
.project-overlay .card-footer {
  border: none;  
}

.card-footer a.card-footer-item {
  position: absolute;
  bottom: 1rem;
  width: 84%;
  text-align: center;
  color: #666666;
  background-color: #fff;
  margin: 0 8%;
  border-radius: .4rem;
  font-size: .9rem;
}

.card-footer a.card-footer-item:hover {
  background-color: $primary-default-color;
  color: #fff;
}