<!-- Wait for the API  -->
<section *ngIf="project">
  <div>
    <!-- Project Image -->
    <img class="project-image" [src]="project.urls.projectImageUrl" />
  </div>

  <!-- Project Delete button -->
  <button (click)="deleteProject()" class="button is-danger is-outlined level-item"><span>Delete</span>
    <span class="icon is-small">
      <i class="fa fa-times"></i>
    </span>
  </button> 

  <!-- Add contributor button -->
  <a *ngIf="this.session.isAuthenticated" class="button is-outlined is-pulled-right" (click)="addContributors()">
    <span class="icon is-small">
      <i class="fa fa-plus"></i>
    </span>
    <span>Add Contributors</span>
  </a>

  <!-- Project Name -->
  <h2>{{ project.name }}</h2>   
  
  <!-- Project tags -->
  <app-project-tags [type]="project.type" [endOfModuleProject]="project.endOfModuleProject"></app-project-tags>
    
  <!-- List of project contributors -->
  <app-project-contributors [contributors]="project.contributors"></app-project-contributors>

  <!-- Project Name -->
  <p>{{ project.description }}</p>   

  <!-- Links -->
  <ul>
    <!-- GitHub -->
    <li *ngIf="project.urls.gitHub">
      <a [href]="project.urls.gitHub" target="_blank">GitHub</a>
    </li>
    <!-- Product URL -->
    <li *ngIf="project.urls.productUrl">
      <a [href]="project.urls.productUrl" target="_blank">Try it</a>
    </li>
    <!--  -->
    <li *ngIf="project.urls.slidePresentationUrl">
      <a [href]="project.urls.slidePresentationUrl" target="_blank">Slides</a>
    </li>
    <!--  -->
    <li *ngIf="project.urls.videoPresentationUrl">
      <a [href]="project.urls.videoPresentationUrl" target="_blank">Video</a>
    </li>
    <!--  -->
    <li *ngIf="project.urls.screenshots">
      <div *ngFor="let screenshot of project.urls.screenshots">
        <img [src]="screenshot.url" alt="screenshot.title"/>
      </div>
    </li>
  </ul>

  <!-- Edit button -->
  <a [routerLink]="['/project',project._id,'edit']">Edit</a>

  <!-- Link to back back to the project list -->
  <a [routerLink]="['/projects']">Back to list</a>
</section>
