<!-- Once projects loaded -->
<section *ngIf="ironhacker" class="hero is-medium is-bold" [ngClass]="heroBgColorClass">
  <div class="hero-body">
    <div class="container is-fluid">
      <!-- Ironhacker profile image -->
      <img *ngIf="ironhacker.pictureUrl" class="ironhacker-image" [src]="ironhacker.pictureUrl" [alt]="ironhacker.firstName" />
    </div>
  </div>

  <div class="hero-foot">
    <!-- Ironhacker tags -->
    <app-tags *ngFor="let bootcamp of ironhacker.studentId.bootcampIds" [item]="bootcamp.program" [absolutePosition]="absolutePosition"></app-tags> 
  </div>
</section>

<!-- Project main information -->
<div *ngIf="ironhacker" class="container is-fluid">
  
  <!-- Wait for the API  -->
  <section class="section" *ngIf="ironhacker">

     <!-- Link to project button -->
     <a class="button is-outlined is-pulled-right" [routerLink]="['/projects']" [queryParams]="{ ironhacker : ironhacker._id }">
        See Projects
      </a>

    <div class="columns">
      <!-- Top Central panel -->
      <div class="column is-half is-offset-one-quarter ironhacker-heading">

        <!-- Ironhacker full name -->
        <h1 *ngIf="ironhacker.firstName && ironhacker.lastName" class="title">
          {{ ironhacker.firstName }} {{ ironhacker.lastName }}
        </h1>
        <!-- Ironhacker email -->
        <p *ngIf="ironhacker.email">{{ ironhacker.email }}</p>
        <!-- Social networks -->
        <div class="ironhacker-socials">
          <!-- Instagram -->
          <a *ngIf="ironhacker.socialNetworks.instagram" [href]="ironhacker.socialNetworks.instagram" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span> 
          </a>

           <!-- Slack -->
          <a *ngIf="ironhacker.socialNetworks.slack" (mouseover)="over(ironhacker.socialNetworks.slack)" (mouseleave)="leave()" [href]="ironhacker.socialNetworks.slack" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-slack fa-stack-1x fa-inverse"></i>
            </span> 
          </a>

           <!-- Skype -->
          <a *ngIf="ironhacker.socialNetworks.skype" (mouseover)="over(ironhacker.socialNetworks.skype)" (mouseleave)="leave()" [href]="ironhacker.socialNetworks.skype" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
            </span> 
          </a>

           <!-- Facebook -->
           <a *ngIf="ironhacker.socialNetworks.facebook" [href]="ironhacker.socialNetworks.facebook" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span> 
          </a>

          <!-- Twitter -->
          <a *ngIf="ironhacker.socialNetworks.twitter" [href]="ironhacker.socialNetworks.twitter" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span> 
          </a>

          <p [class]="messengerClass">{{ messengerProfile }}</p>
        </div>

      </div>
    </div>

    <!-- user info displayed in tabs -->
    <div class="tabs is-centered">
      <ul>
        <li [ngClass]="infoTabClass">
          <a (click)="switchTab('info')">
            <span class="icon is-small"><i class="fa fa-user-o"></i></span>
            <span>Info</span>
          </a>
        </li>
        <li [ngClass]="bootcampTabClass">
          <a (click)="switchTab('bootcamp')">
            <span class="icon is-small"><i class="fa fa-at"></i></span>
            <span>Bootcamp</span>
          </a>
        </li>
        <li [ngClass]="proTabClass">
          <a (click)="switchTab('pro')">
            <span class="icon is-small"><i class="fa fa-bug"></i></span>
            <span>Pro</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Info tab -->
    <div class="columns" [ngClass]="infoTabContent">
      <div class="column">

         <table *ngIf="ironhacker.bioFull || ironhacker.bio || ironhacker.nationality || ironhacker.dateOfBirth || ironhacker.phone || ironhacker.address || ironhacker.postCode || ironhacker.city || ironhacker.country; else infoElseBlock" class="table">
          <tbody>
            <tr *ngIf="ironhacker.bioFull || ironhacker.bio">
              <!-- Ironhacker Bio -->
              <th>Bio</th>
              <td *ngIf="ironhacker.bioFull; else shortBio">{{ ironhacker.bioFull }}</td>
              <ng-template #shortBio>
                <td>{{ ironhacker.bio }}</td>
              </ng-template>
            </tr>

            <tr *ngIf="ironhacker.nationality">
              <!-- Ironhacker nationality -->
              <th>Nationality</th>
              <td>{{ ironhacker.nationality }}</td>
            </tr>

            <tr *ngIf="ironhacker.dateOfBirth">
              <!-- Ironhacker date of birth -->
              <th>Date of birth</th>
              <td>{{ ironhacker.dateOfBirth | date:'longDate' }}</td>
            </tr>

            <tr *ngIf="ironhacker.phone">
              <!-- Ironhacker Phone -->
              <th>Phone</th>
              <td>{{ ironhacker.phone }}</td>
            </tr>

            <tr *ngIf="ironhacker.address || ironhacker.postCode || ironhacker.city">
              <!-- Ironhacker Address -->
              <th>Address</th>
              <td *ngIf="ironhacker.address">
                <span>{{ ironhacker.address }}</span>
                <span *ngIf="ironhacker.city">{{ ironhacker.city }}</span>     
                <span *ngIf="ironhacker.postCode">{{ ironhacker.postCode }}</span>
                <span *ngIf="ironhacker.country">{{ ironhacker.country }}</span>                
              </td>    
            </tr>

          </tbody>
        </table>

        <ng-template #infoElseBlock>
           <!-- If no info found for the table -->
          <p class="title is-4">No information available for this ironhacker :'(</p>
        </ng-template>

      </div>
    </div>

    <!-- Bootcamp tab -->
    <div class="columns" [ngClass]="bootcampTabContent">
      <div class="column" *ngIf="ironhacker.studentId.bootcampIds">

        <div *ngFor="let bootcamp of ironhacker.studentId.bootcampIds">
          <p *ngIf="bootcamp.program" class="title is-4">{{bootcamp.program}}</p>
          
          <table class="table">
            <tbody>
              <tr *ngIf="bootcamp.program">
                <!-- Bootcamp program -->
                <th>Program</th>
                <td>{{ bootcamp.program }}</td>
              </tr>

              <tr *ngIf="bootcamp.program">
                <!-- Bootcamp campus -->
                <th>Campus</th>
                <td>{{ bootcamp.campus }}</td>
              </tr>

              <tr *ngIf="bootcamp.startDate">
                <!-- Bootcamp start date -->
                <th>Start Date</th>
                <td>{{ bootcamp.startDate | date:'longDate' }}</td>
              </tr>

              <tr *ngIf="bootcamp.endDate">
                <!-- Bootcamp end date -->
                <th>End Date</th>
                <td>{{ bootcamp.endDate | date:'longDate' }}</td>
              </tr>

              <tr *ngIf="bootcamp.language">
                <!-- Bootcamp language -->
                <th>Language</th>
                <td>{{ bootcamp.language }}</td>
              </tr>

              <tr *ngIf="bootcamp.cohortPictureUrl">
                <!-- Bootcamp cohort -->
                <th>Cohort Picture</th>
                <td><a [href]="bootcamp.cohortPictureUrl" target="_blank">{{ bootcamp.cohortPictureUrl }}</a></td>
              </tr>
            
            </tbody>
          </table>
        </div>

        <ng-template #bootcampElseBlock>
           <!-- If no info found for the table -->
          <p class="title is-4">No bootcamp information available for this ironhacker :'(</p>
        </ng-template>

      </div>
    </div>

    <!-- Pro tab -->
    <div class="columns" [ngClass]="proTabContent">
      <div class="column">

         <table *ngIf="ironhacker.studentId.professionalNetworks; else proElseBlock" class="table">
          <tbody>
            <tr *ngIf="ironhacker.studentId.professionalNetworks.dribbble">
              <!-- Ironhacker Dribbble -->
              <th>Dribbble</th>
              <td><a [href]="ironhacker.studentId.professionalNetworks.dribbble" target="_blank">{{ ironhacker.studentId.professionalNetworks.dribbble }}</a></td>
            </tr>

            <tr *ngIf="ironhacker.studentId.professionalNetworks.gitHub">
              <!-- Ironhacker GitHub -->
              <th>GitHub</th>
              <td><a [href]="ironhacker.studentId.professionalNetworks.gitHub" target="_blank">{{ ironhacker.studentId.professionalNetworks.gitHub }}</a></td>
            </tr>

            <tr *ngIf="ironhacker.studentId.professionalNetworks.linkedIn">
              <!-- Ironhacker Linkedin -->
              <th>LinkedIn</th>
              <td><a [href]="ironhacker.studentId.professionalNetworks.linkedIn" target="_blank">{{ ironhacker.studentId.professionalNetworks.linkedIn }}</a></td>
            </tr>

            <tr *ngIf="ironhacker.studentId.professionalNetworks.portfolio">
              <!-- Ironhacker Portefolio -->
              <th>Portefolio</th>
              <td><a [href]="ironhacker.studentId.professionalNetworks.portfolio" target="_blank">{{ ironhacker.studentId.professionalNetworks.portfolio }}</a></td>
            </tr>

            <tr *ngIf="ironhacker.studentId.professionalNetworks.webProjects">
              <th>Web Projects</th>
              <td>
                <table>
                <tr *ngFor="let webproject of ironhacker.studentId.professionalNetworks.webProjects">
                <td class="sub-table">
                  <strong>{{ webproject.title }}</strong><span>: <a [href]="webproject.url" target="_blank">{{ webproject.url }}</a></span>
                </td>
                </tr>
              </table>
              </td>
            </tr>

          </tbody>
        </table>

        <ng-template #proElseBlock>
          <!-- If no pro info found for the table -->
          <p class="title is-4">No professional information available for this ironhacker :'(</p>
        </ng-template>
      </div>

    </div>
  </section>
</div>
  