// Tag displayed in the bottom right corner of the project image
// .card-image { position: relative; }

// .project-tag { 
//   z-index: 99999;
//   position: absolute;
//   bottom: 1rem;
//   right: 1rem; 
// }

// UI/UX tag
.is-uiux { 
  background-color: red;
  color: white;
 }

// UI/UX tag
 .is-web-dev { 
  background-color: pink;
  color: black;
 }