// Import global color schemes
@import '../../../styles.scss';

// UI/UX tag
.is-uiux { 
  background-color: $uiux-btn-color;
 }

// UI/UX tag
 .is-web-dev { 
  background-color: $web-dev-btn-color;
 }

.tag.is-uiux,
.tag.is-web-dev {
  color: white;
 }

 .project-tag { 
   position: absolute;
   z-index: 1;
   bottom: 1rem;
   right: 1rem;
 }