// Import global color schemes
@import '../../../styles.scss';

// UI/UX tag
.is-uiux { 
  background-color: $uiux-btn-color;
 }

// UI/UX tag
 .is-web-dev { 
  background-color: $web-dev-btn-color;
 }

.tag.is-uiux,
.tag.is-web-dev {
  color: white;
 }

 // Tag displayed in the bottom right corner of the project image
// .card-image { position: relative; }

// .project-tag { 
//   z-index: 99999;
//   position: absolute;
//   bottom: 1rem;
//   right: 1rem; 
// }
