<div class="container is-fluid">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/']">
        <img [src]="logoFullPath" alt="Ironhub" height="28">
      </a>

      <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
      </a>

      <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
      </a>

      <div class="navbar-burger burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuDocumentation" class="navbar-menu">

      <div class="navbar-end">
        <p *ngIf="this.session.isAuthenticated && this.session.user.firstName" class="navbar-item header-user">
          Hi {{ this.session.user.firstName }}
        </p>
        <a *ngIf="this.session.isAuthenticated" class="navbar-item" [routerLink]="['/profile']">
          Profile
        </a>
        <div class="navbar-item">
          <div class="field is-grouped">
            <p *ngIf="this.session.isAuthenticated" class="control">
              <a class="button is-primary is-ironhub" (click)="logout()">
                <span class="icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                <span>Sign out</span>
              </a>
            </p>
            <p *ngIf="!this.session.isAuthenticated" class="control">
              <a class="button is-primary is-ironhub" [routerLink]="['/login']">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>Sign in</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>