<!-- Ironhacker item  -->
<div *ngIf="ironhacker" class="card">
  <div class="card-container">
          
    <!-- Ironhacker Image -->
    <div class="card-image">
      <figure *ngIf="ironhacker.pictureUrl" class="image is-4by3 ironhacker-image" [ngClass]="profileBgColorClass">
        <img [src]="ironhacker.pictureUrl" [alt]="ironhacker.firstName" />
      </figure>

      <!-- Ironhacker tags -->
      <app-tags [item]="ironhacker.studentId.bootcampIds[ironhacker.studentId.bootcampIds.length-1].program" [absolutePosition]="absolutePosition"></app-tags>
    
    </div>
    
    <div class="card-content">
      <div class="contentronhacker-image">
        
        <!-- Ironhacker name -->

        <p *ngIf="ironhacker.firstName && ironhacker.lastName" class="title is-4">{{ ironhacker.firstName }} {{ ironhacker.lastName }}</p>
        <p *ngIf="ironhacker.bio" class="bio subtitle">{{ ironhacker.bio }}</p>

      </div> <!-- end: content -->

    </div> <!-- end: card-content -->

    <footer class="card-footer">
      <p class="card-footer-item">
        <a [routerLink]="['/ironhackers',ironhacker._id]" [routerLinkActive]="['is-active']">
          <span>
            <a [routerLink]="['/ironhackers',ironhacker._id]" [routerLinkActive]="['is-active']">Profile</a>
          </span>
        </a>
      </p>
      <p class="card-footer-item">
        <a [routerLink]="['/projects']" [queryParams]="{ ironhacker : ironhacker._id }" [routerLinkActive]="['is-active']">
          <span>
            <a [routerLink]="['/projects']" [queryParams]="{ ironhacker : ironhacker._id }" [routerLinkActive]="['is-active']">Projects</a>
          </span>
        </a>
      </p>
    </footer>
  
  </div> <!-- end: card-container -->

</div> <!-- end: card -->