<!-- Ironhacker item  -->
<div *ngIf="ironhacker" class="card">
  <div class="card-container">
          
    <!-- Ironhacker Image -->
    <div class="card-image">
      <figure *ngIf="ironhacker.pictureUrl; else elseBlock" class="image is-4by3 ironhacker-image" [ngClass]="bootcampBgColorClass">
        <img [src]="ironhacker.pictureUrl" [alt]="ironhacker.firstName" />
      </figure>

      <!-- If no image to display -->
      <ng-template #elseBlock>
        <div class="no-ironhacker-image" [ngClass]="bootcampBgColorClass">
          <h2 class="no-ironhacker-image__name">{{ ironhacker.firstName }} {{ ironhacker.lastName }}</h2>
        </div>
      </ng-template>
    </div>
    
    <div class="card-content">
      <div class="content">
        
        <!-- Ironhacker name -->
        <p class="title is-4">{{ ironhacker.firstName }} {{ ironhacker.lastName }}</p>

      </div> <!-- end: content -->

    </div> <!-- end: card-content -->
  </div> <!-- end: card-container -->

</div> <!-- end: card -->