<form class="hero-body" #projectForm="ngForm" (ngSubmit)="projectSubmit(projectForm)"> 
  <div class="container is-fluid">
    <div id="new-project" class="columns is-vcentered">
      <div class="column is-8 is-offset-2">
        <h1 class="title">
          New Project
        </h1>
        <div class="box">
          <!-- Project Name -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Name*</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Project Name" [(ngModel)]="project.name" name="name" minlength="3" required>                             
                  <span class="icon is-small is-left">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          
          <!-- Project Tagline -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Tagline</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" placeholder="Project Tagline" [(ngModel)]="project.tagline" name="tagline">                             
                </p>
                <p class="help">displayed on detail page</p>
              </div>
            </div>
          </div>

          <!-- Project Short Description -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Short Desc.</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" placeholder="Project Short Description" [(ngModel)]="project.shortDescription" name="short-description">                             
                </p>
                <p class="help">displayed on listing page</p>
              </div>
            </div>
          </div>

          <!-- Project Description -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class='label' required>Description</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class='control'>
                  <textarea class='textarea' placeholder='Project Description' [(ngModel)]="project.description" name='description'></textarea>
                </p>
              </div>
            </div>
          </div>

          <!-- Project "Number" -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Milestone</label>
            </div>

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select">
                    <select name='milestone' [(ngModel)]="project.endOfModuleProject">
                      <option disabled selected value=''>End of: </option>       
                      <option value='Module 1'>Module 1</option>
                      <option value='Module 2'>Module 2</option>
                      <option value='Module 3'>Module 3</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
                    
          <!-- Project GitHub -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">GitHub</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="GitHub URL" [(ngModel)]="project.urls.gitHub" name="github">                             
                  <span class="icon is-left">
                    <i class="fa fa-github"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <!-- Project Product URL -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Product*</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Product URL" [(ngModel)]="project.urls.productUrl" name="product-url" required>                             
                  <span class="icon is-small is-left">
                    <i class="fa fa-link"></i>
                  </span>
                </p>
                <p class="help">to see the project live</p>
              </div>
            </div>
          </div>

          <!-- project Image Url -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Product Image</label>
            </div>

            <div class="field-body">
              <div class="file has-name">
                <label class="file-label">
                  <input class="file-input" type="file" [(ngModel)]="project.urls.projectImageUrl" name="product-image">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name">
                    
                  </span>
                </label>
              </div>
            </div>
          </div>

          <!-- Project Slides Presentation -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Sildes</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Slides Presentation URL" [(ngModel)]="project.urls.slidePresentationUrl" name="slide-presentation">                             
                  <span class="icon is-small is-left">
                    <i class="fa fa-television"></i>
                  </span>
                </p>
                <p class="help">to see the presentation of the project</p>
              </div>
            </div>
          </div>

          <!-- Project Video Presentation -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Video</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Video Presentation URL" [(ngModel)]="project.urls.videoPresentationUrl" name="video-presentation">                             
                  <span class="icon is-left">
                    <i class="fa fa-youtube-play"></i>
                  </span>
                </p>
                <p class="help">to see the video preview of the project</p>
              </div>
            </div>
          </div>

          <!-- Project Hashtags -->
          <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Hashtags</label>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" placeholder="Project hashtags" [(ngModel)]="project.hashtags" name="hashtags">                             
                </p>
                <p class="help">seperated by ,</p>
              </div>
            </div>
          </div>

          <!-- Project Screenshots -->
          <!-- <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Screenshots</label>
            </div>

            <div class="field-body">
              <div class="file has-name">
                <label class="file-label">
                  <input class="file-input" [(ngModel)]="project.urls.screenshots.url" type="file" name="screenshots">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name">
                    
                  </span>
                </label>
              </div>
            </div>
          </div> -->

          <!-- Project Contributors -->
          <!-- <div class='field is-horizontal'>
            <div class="field-label is-normal">
              <label class="label">Contributors</label>
            </div>
            
            <div class="field-body">
              <div class="field has-addons">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="" [(ngModel)]="project.collaborators" name="name">                             
                </p>
                <p class="control">
                  <a class="button is-light">
                    Add Contributor
                  </a>
                </p>
              </div>
            </div>
          </div> -->
          <div *ngIf="error" class="notification is-danger">{{error}}</div>
          <!-- Submit new project -->
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-primary is-ironhub" [disabled]="!projectForm.valid">
                    Submit
                  </button>
                  <a class='button is-link' [routerLink]="['/projects']" [routerLinkActive]="['is-active']">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</form>