// General layout
.section.list {
  padding-top: 2rem;
}

#project-search {
  box-shadow: 2px 3px 3px rgba(0,163,239,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.project-filters { font-weight: normal; }

.ironhub-button { margin-left: .8rem; }