<form class="hero-body" action='/login' method='POST'>
  <div class="container">
    <div id="login" class="columns is-vcentered">
      <div class="column is-4 is-offset-4">
        <h1 class="title">
          Sign in
        </h1>
        <div class="box">
          <label class="label">Email</label>
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="jane@doe.com" name="email" />
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
          <br>
          <label class="label">Password</label>
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" name="password" />
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </p>
          <br>

          <div class="notification is-danger">Error message</div>

          <p class="control">
            <button class="button is-primary">Sign in</button>
          </p>
          <hr>

          <p class="control">
            <span>New to IronHub? <a [routerLink]="['/signup']">Create an account <span class="carret-right"></span></a></span>
          </p>
        </div>      
      </div>
    </div>
  </div>
</form>
<router-outlet></router-outlet>