/**
 * COLOR SCHEMES
**/
/* Default */
$primary-default-color: #00a3ef;
$primary-default-color-hover: #1d5e8f;

// Buttons and tags
$web-dev-btn-color: #43a3e6; // Web Dev
$web-dev-part-time-btn-color: #e64963; // Web Dev Part Time
$uiux-btn-color: #fffbc7; // UI/UX 
$uiux-part-time-btn-color: #23c7e0; // UI/UX Part Time

a { color: $primary-default-color; }
a:hover,
a:active { color: $primary-default-color-hover; }

// FORM styles on focus
.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus { border-color: $primary-default-color; }

// Drop down arrow
.select:not(.is-multiple)::after {
	border: 1px solid $primary-default-color;
	border-right: 0;
	border-top: 0;
}

//  E.G.: ADD PROJECT BUTTON
.ironhub-button:hover{
 border-color: $primary-default-color; 
 color: $primary-default-color;
}

/* Focus on icons */
.control.has-icons-left .input:focus~.icon,
.control.has-icons-left .select:focus~.icon,
.control.has-icons-right .input:focus~.icon,
.control.has-icons-right .select:focus~.icon {
	color: $primary-default-color;
}

/* right arrow used in several places accross ironhub */
.carret-right {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-left: 4px dashed;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.button.is-ironhub:hover,
.button.is-ironhub:active {
  background-color: $primary-default-color-hover;
} 

.button.is-ironhub {
  background-color: $primary-default-color;
} 

$text-default-color: #666666;

/* Background colors randomly used when no project image is set */
.grad-from-pink-to-orange {
  background: #fd4289; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fd4289, #ff9c00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fd4289, #ff9c00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fd4289, #ff9c00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fd4289, #ff9c00); /* Standard syntax */
}

.grad-from-purple-to-pink {
  background: #ae5abc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ae5abc, #f72199); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ae5abc, #f72199); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ae5abc, #f72199); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ae5abc, #f72199); /* Standard syntax */
}

.grad-from-red-to-pink {
  background-color: #ff0061;/* For browsers that do not support gradients */
  background: -o-linear-gradient(bottom right, #ff0061, #ff65d2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ff0061, #ff65d2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ff0061, #ff65d2); /* Standard syntax */
}
/* End: Background colors randomly used when no project image is set */

// Ironhacker / Program tags
.is-web-dev { background-color: $web-dev-btn-color; color: white; }
.is-uiux { background-color: $uiux-btn-color; color: #000; }
.is-web-dev-part-time { background-color: $web-dev-part-time-btn-color; color: white; }
.is-uiux-part-time { background-color: $uiux-part-time-btn-color; color: #fff; }

// General layout
.section.list {
  padding-top: 2rem;
}