/**
 * COLOR SCHEMES
**/
/* Default */
$primary-default-color: #00a3ef;
$primary-default-color-hover: #1d5e8f;

// UI/UX 
$uiux-btn-color: #d49d05;

// Web Dev
$web-dev-btn-color: #43a3e6;

a { color: $primary-default-color; }
a:hover,
a:active { color: $primary-default-color-hover; }

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus { border-color: $primary-default-color; }

/* Form styles */
.control.has-icons-left .input:focus~.icon,
.control.has-icons-left .select:focus~.icon,
.control.has-icons-right .input:focus~.icon,
.control.has-icons-right .select:focus~.icon {
	color: $primary-default-color;
}


/* right arrow used in several places accross ironhub */
.carret-right {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-left: 4px dashed;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.button.is-ironhub:hover,
.button.is-ironhub:active {
  background-color: $primary-default-color-hover;
} 

.button.is-ironhub {
  background-color: $primary-default-color;
} 
